@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

body {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  text-align: right;
  background: var(--color-background) !important;
  font-family: 'Vazirmatn', sans-serif;
  user-select: none;
  overflow-x: hidden;
}


a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: .9rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark)
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color--dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger)
}

.success {
  color: var(--color-success);
}

.primary {
  color: var(--color-primary);
}

.warning {
  color: var(--color-warning);
}